parameters:
    ignoreErrors:
        -
            message: "#Access to an undefined property Doctrine\\\\Persistence\\\\Mapping\\\\ClassMetadata<object>::\\$fieldMappings#"
            reportUnmatched: false
        -
            message: "#Call to function is_array\\(\\) with Doctrine\\\\ORM\\\\Mapping\\\\FieldMapping will always evaluate to false.#"
            reportUnmatched: false
